{% extends 'lprofile/layout.html' %}

{% block body %}
    <div id="me" hidden>{{ request.user.username }}</div>
    <div class="chat-message-div">
    <textarea readonly id="chat-log" style="width: 845px; height: 400px; font-size: 40px;"></textarea><br>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="chat-message-input" placeholder="Message" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" id="chat-message-submit">Send</button>
        </div>
    </div>
    {{ room_name|json_script:"room-name" }}
    </div>
{% endblock %}

{% block script %}
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value += (data.username+": "+data.message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
        }));
        messageInputDom.value = '';
    };
</script>
{% endblock %}