{% extends "lprofile/layout.html" %}

{% block body %}
    <h2>Connect/Follow People:</h2>
    {% for i in users %}
        <ul>
            <li>
                <a href="{% url 'profile1' uname=i.profowner %}" style="font-size: 25px;color: purple;">{{ i.profowner.first_name }} {{ i.profowner.last_name }}</a>
                {% if i.profowner not in me %}
                    <form action="{% url 'follow' uname=i.profowner %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-primary">Follow</button>
                    </form><br>
                    {% if i.profowner not in mec %}
                        <form action="{% url 'connect' uname=i.profowner %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-outline-primary">Connect</button>
                        </form>
                    {% elif request.user in mer %}
                        Connection Requested
                    {% else %}
                        <form action="{% url 'disconnect' uname=i.profowner %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger">Remove Connection</button>
                        </form>
                    {% endif %}
                {% else %}
                    <form action="{% url 'unfollow' uname=i.profowner %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger">Unfollow</button>
                    </form><br>
                    {% if i.profowner not in mec %}
                        <form action="{% url 'connect' uname=i.profowner %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-outline-primary">Connect</button>
                        </form>
                    {% elif request.user in mer %}
                        Connection Requested
                    {% else %}
                        <form action="{% url 'disconnect' uname=i.profowner %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger">Remove Connection</button>
                        </form>
                    {% endif %}
                {% endif %}
            </li>
        </ul>
    {% endfor %}
    <br>
    <h2>Requests:</h2>
    {% for i in users %}
        <ul>
            {% if i.profowner in mer %}
                <li>
                    <a href="{% url 'profile1' uname=i.profowner %}" style="font-size: 25px;color: purple;">{{ i.profowner.first_name }} {{ i.profowner.last_name }}</a>
                    <form action="{% url 'accept' uname=i.profowner %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-success">Accept</button>
                    </form><br>
                    <form action="{% url 'decline' uname=i.profowner %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger">Decline</button>
                    </form>
                </li>
            {% endif %}
        </ul>
    {% endfor %}
{% endblock %}