{% extends "lprofile/layout.html" %}

{% block body %}
    <div class="d-flex justify-content-center">
    <div style="padding-top: 10px;"><h2>Network:</h2></div>
    <div>
    <a class="nav-link" href="{% url 'followings' uname=request.user %}">
        <button class="btn btn-primary">
            <svg width="30px" height="30px" viewBox="0 -1 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                <title>network_2 [#1118]</title>
                <desc>Created with Sketch.</desc>
                <defs>
            
            </defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Dribbble-Light-Preview" transform="translate(-60.000000, -3280.000000)" fill="#000000">
                        <g id="icons" transform="translate(56.000000, 160.000000)">
                            <path d="M12,3124 L16,3124 L16,3120 L12,3120 L12,3124 Z M20,3138 L24,3138 L24,3134 L20,3134 L20,3138 Z M4,3138 L8,3138 L8,3134 L4,3134 L4,3138 Z M7,3132 L5,3132 L5,3128 L13,3128 L13,3126 L15,3126 L15,3128 L23,3128 L23,3132 L21,3132 L21,3130 L7,3130 L7,3132 Z" id="network_2-[#1118]">
            
            </path>
                        </g>
                    </g>
                </g>
            </svg>
        </button>
    </a>
    </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
    <div class="child">
    <h2>Connect/Follow People:</h2>
    <ul style="list-style: none;">
    {% for i in users %}
        <li style="display: inline-block;margin: 10px;">
            <div class="card" style="padding: 10px;width: 350px;align-items: center;">
            <a href="{% url 'profile1' uname=i.profowner %}" style="font-size: 25px;">{{ i.profowner.first_name }} {{ i.profowner.last_name }}</a>
            <ul class="nav">
                {% if i.profowner not in mef %}
                    <li class="nav-item">
                    <form action="{% url 'follow' uname=i.profowner %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-primary">Follow</button>
                    </form>
                    </li>&nbsp;&nbsp;&nbsp;
                    {% if i.profowner not in mec %}
                        {% if request.user in i.requests.all %}
                            Connection Requested
                        {% else %}
                            <li class="nav-item">
                            <form action="{% url 'connect' uname=i.profowner %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-outline-primary">Connect</button>
                            </form>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="nav-item">
                        <form action="{% url 'disconnect' uname=i.profowner %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger">Remove Connection</button>
                        </form>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                    <form action="{% url 'unfollow' uname=i.profowner %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger">Unfollow</button>
                    </form>
                    </li>&nbsp;&nbsp;&nbsp;
                    {% if i.profowner not in mec %}
                        {% if request.user in i.requests.all %}
                            Connection Requested
                        {% else %}
                            <li class="nav-item">
                            <form action="{% url 'connect' uname=i.profowner %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-outline-primary">Connect</button>
                            </form>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="nav-item">
                        <form action="{% url 'disconnect' uname=i.profowner %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger">Remove Connection</button>
                        </form>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            </div>
        </li>
    {% endfor %}
    </ul>
    </div>
    <div class="child">
    {% if mer %}
    <h2>Requests:</h2>
    {% endif %}
    <ul style="list-style: none;">
    {% for i in users %}
        {% if i.profowner in mer %}
            <li style="display: inline-block;margin: 10px;">
                <div class="card" style="padding: 10px;width: 350px;align-items: center;">
                <a href="{% url 'profile1' uname=i.profowner %}" style="font-size: 25px;">{{ i.profowner.first_name }} {{ i.profowner.last_name }}</a>
                <ul class="nav">
                    <li class="nav-item">
                    <form action="{% url 'accept' uname=i.profowner %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-success">Accept</button>
                    </form>
                    </li>&nbsp;&nbsp;&nbsp;
                    <li class="nav-item">
                    <form action="{% url 'decline' uname=i.profowner %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger">Decline</button>
                    </form>
                    </li>
                </ul>
                </div>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
    </div>
    </div>
{% endblock %}