{% extends "lprofile/layout.html" %}

{% block body %}
    
    {% if user.is_authenticated %}
    <h2 style="text-align: center;color: rgb(0, 216, 216);">{{ userprof.first_name }}'s Network</h2><br>
    <div style="display: table;width: 100%;table-layout: fixed;border-spacing: 10px;text-align: center;">
    <div style="display: table-cell;">
        <h2>Following: {{ conn.number_of_conns }}</h2>
        {% for i in conns %}
            <ul style="list-style: none;">
                <li>
                    <a style="font-size: 20px;" href="{% url 'profile1' uname=i.username %}">{{ i.first_name }} {{ i.last_name }}</a>
                </li>
            </ul>
        {% endfor %}
    </div>
    <div style="display: table-cell;">
        <h2>Followers: {{ conn.number_of_followers }}</h2>
        {% for i in folls %}
            <ul style="list-style: none;">
                <li>
                    <a style="font-size: 20px;" href="{% url 'profile1' uname=i.username %}">{{ i.first_name }} {{ i.last_name }}</a>
                </li>
            </ul>
        {% endfor %}
    </div>
    <div style="display: table-cell;">
        <h2>Connections: {{ conn.number_of_connections }}</h2>
        {% for i in connections %}
            <ul style="list-style: none;">
                <li>
                    <a style="font-size: 20px;" href="{% url 'profile1' uname=i.username %}">{{ i.first_name }} {{ i.last_name }}</a>
                </li>
            </ul>
        {% endfor %}
    </div>
    </div>
    {% else %}
        <h2 style="text-align: center">Login or make and account first!</h2>
    {% endif %}
    
{% endblock%}