{% extends "lprofile/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
    <div style="position: absolute;width: 90%;background-color: rgb(40,40,40); border-radius: 20px;padding: 20px;top: 50%;left: 50%;transform: translate(-50%,-50%);margin-top: 10px;">
        <form action="{% url 'edit' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h5>Profile picture:</h5>
            <input style="background-color: rgb(25,25,25);color: white;" type="file" class="form-control" name="pic">
            <label>
                <input type="checkbox" name="remove_picture"> Remove Picture
            </label><br>
            <h5>Resume/CV:</h5>
            <input style="background-color: rgb(25,25,25);color: white;" type="file" class="form-control" name="cv">
            <label>
                <input type="checkbox" name="remove_cv"> Remove CV
            </label>
            <h5>First Name:</h5>
            <input style="background-color: rgb(25,25,25);color: white;" type="text" class="form-control" name="firstname" value="{{ myprof.profowner.first_name }}"><br>
            <h5>Last Name:</h5>
            <input style="background-color: rgb(25,25,25);color: white;" type="text" class="form-control" name="lastname" value="{{ myprof.profowner.last_name }}"><br>
            <h5>About:</h5>
            <input style="background-color: rgb(25,25,25);color: white;" type="text" class="form-control" name="about" value="{{ myprof.about }}"><br>
            <h5>Role(Hirer/Seeker/Neither):</h5>
            <select style="background-color: rgb(25,25,25);color: white;" id="role" name="role">
                {% if myprof.role == 'Neither' %}
                <option selected>Neither</option>
                <option>Hirer</option>
                <option>Seeker</option>
                {% elif myprof.role == 'Hirer' %}
                <option>Neither</option>
                <option selected>Hirer</option>
                <option>Seeker</option>
                {% elif myprof.role == 'Seeker' %}
                <option>Neither</option>
                <option>Hirer</option>
                <option selected>Seeker</option>
                {% endif %}
            </select><br>
            <br>
            <button type="submit" class="btn btn-outline-success">Make changes</button>
        </form>
    </div>
    {% else %}
        <h2 style="text-align: center">Login/Signup first!</h2>
    {% endif %}
{% endblock %}