{% extends "lprofile/layout.html" %}

{% block body %}
    
    {% if user.is_authenticated %}
    <br>
    <div style="position: relative;top: 40%;padding-top: 210px;">
    <div style="position: absolute;top: 35%;left: 50%;transform: translate(-50%,-50%);background-color: rgb(35,35,35); padding:20px;width: 900px;border-radius: 50px;width: 842px;height: 200px;">
        <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <h3 for="desc">Start a Post</h3>
                <input style="border-radius: 20px;background-color: rgb(25,25,25);color: white;" class="form-control" id="desc" name="desc" placeholder="Write here">
            </div><br>
            <div style="padding-right: 5px;">
                <input style="border-radius: 20px;float: left;width:218px;background-color: rgb(25,25,25);" type="file" class="form-control" name="postpic">
                <button style="border-radius: 10px;float: right;" class="btn btn-primary" type="submit">Post</button>
            </div>
        </form>
    </div>
    </div>
    {% for i in posts1 %}
        <div class="row justify-content-center">
            <div class="card" style=" border: 1px solid #000; width: 842px;">
                <div>
                <div style="float: left; padding: 10px;">
                {% if i.profile.profimg %}
                <img style="width: 50px; height: 50px;border-radius: 50px;" src="{{ i.profile.profimg.url }}" alt="profpic">
                {% else %}
                <img src="https://www.dpforwhatsapp.in/img/no-dp-images/7.webp" style="height: 50px; width: 50px; border-radius: 50px;" alt="profpic"> 
                {% endif %}
                </div>
                <div style="float: left;padding-top: 5px;">
                <a href="{% url 'profile1' uname=i.owner %}" style="padding-left: 15px;padding-top: 10px;font-size: 25px;">{{ i.owner.first_name }} {{ i.owner.last_name }}</a>
                <br>
                <small style="padding-left: 15px">{{ i.time }}</small>
                </div>
                </div>
                <hr>
                <div class="card-body">
                    <p class="card-text">{{ i.desc }}</p>
                    {% if i.postimg %}
                    <img src="{{ i.postimg.url }}" style="height: 500px; width: 800px;padding-left: 10px;padding-right: 10px;" alt="post_picture">
                    {% endif %}
                    <br>
                    <hr>
                    <div style="text-align: center">
                        {% if request.user not in i.likes.all %}
                        {% if request.user not in i.dislikes.all %}
                            <div style="display: inline-block;vertical-align: middle">
                                <button type="submit" onclick="like(`{{i.id}}`)" id="{{i.id}}" class="fa fa-thumbs-up" style="border-radius: 20px;width: 40px;height: 40px;background-color: cyan;border: rgb(25,25,25)"></button>
                            </div>
                            &nbsp;&nbsp;&nbsp;
                            <div style="display: inline-block;vertical-align: middle">
                                <button type="submit" onclick="dislike(`{{i.id}}`)" id="dis{{i.id}}" class="fa fa-thumbs-down" style="border-radius: 20px;width: 40px;height: 40px;background-color: cyan;border: rgb(25,25,25)"></button>
                            </div>
                        {% else %}
                            <div style="display: inline-block;vertical-align: middle">
                                <button type="submit" onclick="like(`{{i.id}}`)" id="{{i.id}}" class="fa fa-thumbs-up" style="border-radius: 20px;width: 40px;height: 40px;background-color: cyan;border: rgb(25,25,25)"></button>
                            </div>
                            &nbsp;&nbsp;&nbsp;
                            <div style="display: inline-block;vertical-align: middle">
                                <button type="submit" onclick="dislike(`{{i.id}}`)" id="dis{{i.id}}" class="fa fa-thumbs-down" style="border-radius: 20px;width: 40px;height: 40px;background-color: blue;border: rgb(25,25,25)"></button>
                            </div>
                        {% endif %}
                        {% else %}
                        <div style="display: inline-block;vertical-align: middle">
                            <button type="submit" onclick="like(`{{i.id}}`)" id="{{i.id}}" class="fa fa-thumbs-up" style="border-radius: 20px;width: 40px;height: 40px;background-color: blue;border: rgb(25,25,25)"></button>
                        </div>
                        &nbsp;&nbsp;&nbsp;
                        <div style="display: inline-block;vertical-align: middle">
                            <button type="submit" onclick="dislike(`{{i.id}}`)" id="dis{{i.id}}" class="fa fa-thumbs-down" style="border-radius: 20px;width: 40px;height: 40px;background-color: cyan;border: rgb(25,25,25)"></button>
                        </div>
                        {% endif %}
                        <p style="text-align: center;" id="likecount{{i.id}}">{{ i.number_of_likes }}</p>
                    <hr>
                    </div>
                    <div style="padding: 10px;">
                    <form action="{% url 'comments' i.id %}" method="POST">
                        {% csrf_token %}
                        <h3>Make a Comment:</h3>
                        <div class="input-group mb-3">
                            <input style="background-color: rgb(15,15,15);color: white;" type="text" class="form-control" name="message" placeholder="Comment..." aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit">Comment</button>
                            </div>
                        </div>
                    </form>
                    {% if i.post_comms %}
                    <div class="card">
                        <a href="{% url 'profile1' uname=i.post_comms.comment_owner %}" style="padding-left: 15px;padding-top: 10px;font-size: 25px;">{{ i.post_comms.comment_owner.first_name }} {{ i.post_comms.comment_owner.last_name }}</a>
                        <small style="padding-left: 15px;">{{ i.post_comms.time }}</small>
                        <div class="card-body">
                            <p class="card-text">{{ i.post_comms.message }}</p>
                        </div>
                    </div>
                    <br>
                    {% endif %}
                    <div>
                        <a href="{% url 'comments' i.id %}">
                            <button class="btn btn-info">
                                Read all comments
                            </button>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
    {% else %}
    {% endif %}
    
{% endblock%}

{% block script %}
    <script>
        function like(id){
            if ((document.getElementById(`${id}`).style.backgroundColor == "cyan") && (document.getElementById(`dis${id}`).style.backgroundColor == "cyan")){
                fetch(`/like/${id}`)
                .then(response => response.json)
                .then(result => {
                    document.getElementById(`${id}`).style.backgroundColor="blue"
                    document.getElementById(`likecount${id}`).innerHTML++
                })
            }
            else if (document.getElementById(`${id}`).style.backgroundColor == "blue"){
                fetch(`/like/${id}`)
                .then(response => response.json)
                .then(result => {
                    document.getElementById(`${id}`).style.backgroundColor="cyan"
                    document.getElementById(`likecount${id}`).innerHTML--
                })
            }
            else{
                fetch(`/like/${id}`)
                .then(response => response.json)
                .then(result => {
                    document.getElementById(`${id}`).style.backgroundColor="blue"
                    document.getElementById(`dis${id}`).style.backgroundColor = "cyan"
                    document.getElementById(`likecount${id}`).innerHTML++
                })
            }
        }
        function dislike(id){
            if ((document.getElementById(`${id}`).style.backgroundColor == "cyan") && (document.getElementById(`dis${id}`).style.backgroundColor == "cyan")){
                fetch(`/dislike/${id}`)
                .then(response => response.json)
                .then(result => {
                    document.getElementById(`dis${id}`).style.backgroundColor="blue"
                })
            }
            else if (document.getElementById(`dis${id}`).style.backgroundColor == "blue"){
                fetch(`/dislike/${id}`)
                .then(response => response.json)
                .then(result => {
                    document.getElementById(`dis${id}`).style.backgroundColor="cyan"
                })
            }
            else{
                fetch(`/dislike/${id}`)
                .then(response => response.json)
                .then(result => {
                    document.getElementById(`${id}`).style.backgroundColor="cyan"
                    document.getElementById(`dis${id}`).style.backgroundColor = "blue"
                    document.getElementById(`likecount${id}`).innerHTML--
                })
            }
        }
    </script>
{% endblock %}