{% extends "lprofile/layout.html" %}

{% block body %}
    
    {% if user.is_authenticated %}

    <form action="{% url 'jobpost' %}" method="POST">
        {% csrf_token %}
        <h5>Job title:</h5>
        <input type="text" class="form-control" name="j_title" required><br>
        <h5>Company:</h5>
        <input type="text" class="form-control" name="company" required><br>
        <h5>Job description:</h5>
        <textarea type="text" class="form-control" name="j_desc"></textarea><br>
        <button type="submit" class="btn btn-outline-success">Post</button>
    </form>    

    {% else %}
        <h2 style="text-align: center">login first!</h2>
    {% endif %}
    
{% endblock%}