{% extends "lprofile/layout.html" %}

{% block body %}
    
    {% if user.is_authenticated %}
        {% if myprof.role == 'Hirer' %}
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'jobpost' %}">
                    <button class="btn btn-outline-primary">
                        Post a Job
                    </button>
                </a>
            </li>
        </ul>
        <hr>
        {% endif %}
        <h2>Jobs:</h2>
        {% for i in joblistings %}
            <div class="card" style=" border: 1px solid #000;">
                <h4 style="padding-left: 15px;padding-top: 10px;font-size: 25px;">{{ i.j_title }}:{{ i.company }}</h4>
                <div class="card-body">
                    <h6><strong>Job description:</strong></h6>
                    <p class="card-text">{{ i.j_desc }}</p>
                    <h6>Job Hirer: <a href="{% url 'profile1' uname=i.j_provider %}">{{ i.j_provider.first_name }} {{ i.j_provider.last_name }}</a></h6>
                    <br>
                    <div style="text-align: center">
                        {% if request.user != i.j_provider %}
                        {% if request.user not in i.applicants.all %}
                        <div style="display: inline-block;vertical-align: middle">
                            <form action="{% url 'apply' i.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" name="apply" class="btn btn-success">Apply</button>
                            </form>
                        </div>
                        {% else %}
                        Applied
                        {% endif %}
                        {% endif %}
                        &nbsp;&nbsp;&nbsp;
                        <div style="display: inline-block;vertical-align: middle">
                            <form action="{% url 'applicants' i.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" name="show" class="btn btn-secondary">Show Applicants</button>
                            </form>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}

    {% else %}
        <h2 style="text-align: center">login first!</h2>
    {% endif %}
    
{% endblock%}