{% extends "lprofile/layout.html" %}

{% block body %}
    
    {% if user.is_authenticated %}
        <div>
            <h1 style="font-weight: bold;float: inline-start;">Profile</h1>
            {% if user == myprof.profowner %}
            <a href="{% url 'edit' %}">
                <button  style="float: inline-end;" class="btn btn-outline-danger">
                    Edit Profile
                </button>
            </a>
            {% endif %}
        </div>
        <br><br>
        <hr>
        <div>
        {% if myprof.profimg %}
        <div style="float: left;">
            <img src="{{ myprof.profimg.url }}" style="height: 100px; width: 100px; border-radius: 100px;" alt="profile picture">
        </div>&nbsp;
        {% endif %}
        <div style="float: left; padding-left: 10px;">
        <h2 style="font-weight: bold">Name</h2>
        <h3>{{ myprof.profowner.first_name }} {{ myprof.profowner.last_name }}</h3>
        {% if myprof.role != 'Neither' %}
            <h6>Role: {{ myprof.role }}</h6>
        {% endif %}
        </div>
        </div>
        <br><br><br><br><br>
        <a href="{% url 'followings' uname=myprof.profowner %}">
            <button class="btn btn-outline-primary">
                Following: {{ myprof.number_of_conns }}
            </button>
        </a>
        <a href="{% url 'followings' uname=myprof.profowner %}">
            <button class="btn btn-outline-primary">
                Followers: {{ myprof.number_of_followers }}
            </button>
        </a>
        <a href="{% url 'followings' uname=myprof.profowner %}">
            <button class="btn btn-outline-primary">
                Connections: {{ myprof.number_of_connections }}
            </button>
        </a>
        {% if myprof.cv %}
        <br><br>
        <strong style="font-size: 20px;">Download <a href="{{ myprof.cv.url }}">CV</a></strong>
        {% endif %}
        <hr>
        <h2 style="font-weight: bold">About</h2>
        <p style="font-size: 20px;">{{ myprof.about }}</p>
        <hr>
        <h2 style="font-weight: bold">My posts</h2>
        {% if mypost %}
        <div class="card" id="firstpost" style="padding-left: 10px;float:left; width: 862px;">
            <a href="{% url 'profile1' uname=mypost.last.owner %}" style="padding-left: 15px;padding-top: 20px;font-size: 25px;">{{ mypost.last.owner.first_name }} {{ mypost.last.owner.last_name }}</a>
            <small style="padding-left: 15px">{{ mypost.last.time }}</small><hr>
            <div class="card-body">
                <p class="card-text">{{ mypost.last.desc }}</p>
                {% if mypost.last.postimg %}
                <img src="{{ mypost.last.postimg.url }}" style="height: 300px; width: 800px;" alt="post_picture">
                {% endif %}
                <br>
                <hr>
                    <div style="float: left">
                    {% if request.user not in mypost.last.likes.all %}
                    {% if request.user not in mypost.last.dislikes.all %}
                        <div style="display: inline-block;vertical-align: middle">
                            <button type="submit" onclick="like(`{{mypost.last.id}}`)" id="{{mypost.last.id}}" class="fa fa-thumbs-up" style="border-radius: 20px;width: 40px;height: 40px;background-color: cyan;border: rgb(25,25,25)"></button>
                        </div>
                        &nbsp;&nbsp;&nbsp;
                        <div style="display: inline-block;vertical-align: middle">
                            <button type="submit" onclick="dislike(`{{mypost.last.id}}`)" id="dis{{mypost.last.id}}" class="fa fa-thumbs-down" style="border-radius: 20px;width: 40px;height: 40px;background-color: cyan;border: rgb(25,25,25)"></button>
                        </div>
                    {% else %}
                        <div style="display: inline-block;vertical-align: middle">
                            <button type="submit" onclick="like(`{{mypost.last.id}}`)" id="{{mypost.last.id}}" class="fa fa-thumbs-up" style="border-radius: 20px;width: 40px;height: 40px;background-color: cyan;border: rgb(25,25,25)"></button>
                        </div>
                        &nbsp;&nbsp;&nbsp;
                        <div style="display: inline-block;vertical-align: middle">
                            <button type="submit" onclick="dislike(`{{mypost.last.id}}`)" id="dis{{mypost.last.id}}" class="fa fa-thumbs-down" style="border-radius: 20px;width: 40px;height: 40px;background-color: blue;border: rgb(25,25,25)"></button>
                        </div>
                    {% endif %}
                    {% else %}
                    <div style="display: inline-block;vertical-align: middle">
                        <button type="submit" onclick="like(`{{mypost.last.id}}`)" id="{{mypost.last.id}}" class="fa fa-thumbs-up" style="border-radius: 20px;width: 40px;height: 40px;background-color: blue;border: rgb(25,25,25)"></button>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <div style="display: inline-block;vertical-align: middle">
                        <button type="submit" onclick="dislike(`{{mypost.last.id}}`)" id="dis{{mypost.last.id}}" class="fa fa-thumbs-down" style="border-radius: 20px;width: 40px;height: 40px;background-color: cyan;border: rgb(25,25,25)"></button>
                    </div>
                    {% endif %}
                    <p style="text-align: left;padding-left: 47px;" id="likecount{{mypost.last.id}}">{{ mypost.last.number_of_likes }}</p>
                    </div>
                    <div class="d-flex justify-content-end">
                    <div>
                        <a href="{% url 'comments' mypost.last.id %}">
                            <button style="height: 43px;" class="btn btn-info">
                                Read Comments
                            </button>
                        </a>
                    </div>&nbsp;&nbsp;&nbsp;
                    {% if user == mypost.last.owner %}
                        <div>
                            <form action="{% url 'delete' mypost.last.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" name='delete' class="btn btn-danger">Delete Post</button>
                            </form>
                        </div>
                    {% endif %}
                    </div>
            </div>
        </div>
        <div style="float:right">
            <a href="{% url 'myposts' uname=myprof.profowner.username %}">
            <button id="allmyposts" class="btn btn-outline-secondary" style="font-size: 30px;width: 862px; border-radius: 20px;">All Posts</button>
            </a>
        </div>
        {% else %}
            <h5>None yet!</h5>
        {% endif %}
    {% else %}
        <h2 style="text-align: center;">Login or make an account first!</h2>
    {% endif %}
    
{% endblock %}

{% block script %}
<script>
    let pheight = document.getElementById('firstpost').offsetHeight;
    console.log(pheight);
    document.getElementById('allmyposts').style.height = `${pheight}`+'px';
    function like(id){
        if ((document.getElementById(`${id}`).style.backgroundColor == "cyan") && (document.getElementById(`dis${id}`).style.backgroundColor == "cyan")){
            fetch(`/like/${id}`)
            .then(response => response.json)
            .then(result => {
                document.getElementById(`${id}`).style.backgroundColor="blue"
                document.getElementById(`likecount${id}`).innerHTML++
            })
        }
        else if (document.getElementById(`${id}`).style.backgroundColor == "blue"){
            fetch(`/like/${id}`)
            .then(response => response.json)
            .then(result => {
                document.getElementById(`${id}`).style.backgroundColor="cyan"
                document.getElementById(`likecount${id}`).innerHTML--
            })
        }
        else{
            fetch(`/like/${id}`)
            .then(response => response.json)
            .then(result => {
                document.getElementById(`${id}`).style.backgroundColor="blue"
                document.getElementById(`dis${id}`).style.backgroundColor = "cyan"
                document.getElementById(`likecount${id}`).innerHTML++
            })
        }
    }
    function dislike(id){
        if ((document.getElementById(`${id}`).style.backgroundColor == "cyan") && (document.getElementById(`dis${id}`).style.backgroundColor == "cyan")){
            fetch(`/dislike/${id}`)
            .then(response => response.json)
            .then(result => {
                document.getElementById(`dis${id}`).style.backgroundColor="blue"
            })
        }
        else if (document.getElementById(`dis${id}`).style.backgroundColor == "blue"){
            fetch(`/dislike/${id}`)
            .then(response => response.json)
            .then(result => {
                document.getElementById(`dis${id}`).style.backgroundColor="cyan"
            })
        }
        else{
            fetch(`/dislike/${id}`)
            .then(response => response.json)
            .then(result => {
                document.getElementById(`${id}`).style.backgroundColor="cyan"
                document.getElementById(`dis${id}`).style.backgroundColor = "blue"
                document.getElementById(`likecount${id}`).innerHTML--
            })
        }
    }
</script>
{% endblock %}