{% extends "lprofile/layout.html" %}

{% block body %}
    
    {% if user.is_authenticated %}
    <div style="position: absolute;width: 98%;background-color: rgb(40,40,40); border-radius: 20px;padding: 20px;top: 50%;left: 50%;transform: translate(-50%,-50%);margin-top: 50px;">
        <div id="me" hidden>{{ request.user.username }}</div>
        <div>
            <h1 style="font-weight: bold;float: inline-start;">Profile</h1>
            {% if user == myprof.profowner %}
            <a href="{% url 'edit' %}">
                <button  style="float: inline-end;" class="btn btn-outline-danger">
                    Edit Profile
                </button>
            </a>
            {% else %}
                <button onclick="chatwith(`{{ myprof.profowner.username }}`)" style="float: inline-end;" class="btn btn-primary">
                    Chat
                </button>
            {% endif %}
        </div>
        <br><br>
        <hr>
        <div>
        {% if myprof.profimg %}
        <div style="float: left;">
            <img src="{{ myprof.profimg.url }}" style="height: 100px; width: 100px; border-radius: 100px;" alt="profile picture">
        </div>
        {% else %}
        <div style="float: left;">
            <img src="https://www.dpforwhatsapp.in/img/no-dp-images/7.webp" style="height: 100px; width: 100px; border-radius: 100px;" alt="profile picture"> 
        </div>
        {% endif %}
        &nbsp;
        <div style="float: left; padding-left: 10px;">
        <h2 style="font-weight: bold">Name</h2>
        <h3>{{ myprof.profowner.first_name }} {{ myprof.profowner.last_name }}</h3>
        {% if myprof.role != 'Neither' %}
            <h6>Role: {{ myprof.role }}</h6>
        {% endif %}
        </div>
        </div>
        <br><br><br><br><br>
        <a href="{% url 'followings' uname=myprof.profowner %}">
            <button class="btn btn-outline-primary">
                Following: {{ myprof.number_of_conns }}
            </button>
        </a>
        <a href="{% url 'followings' uname=myprof.profowner %}">
            <button class="btn btn-outline-primary">
                Followers: {{ myprof.number_of_followers }}
            </button>
        </a>
        <a href="{% url 'followings' uname=myprof.profowner %}">
            <button class="btn btn-outline-primary">
                Connections: {{ myprof.number_of_connections }}
            </button>
        </a>
        {% if myprof.cv %}
        <br><br>
        <strong style="font-size: 20px;">Download <a href="{{ myprof.cv.url }}" download>CV</a></strong>
        {% endif %}
        <hr>
        <h2 style="font-weight: bold">About</h2>
        <p style="font-size: 20px;">{{ myprof.about }}</p>
        <hr>
        <h2 style="font-weight: bold">Posts</h2>
        {% if mypost %}
        <div>
            <a href="{% url 'myposts' uname=myprof.profowner.username %}">
            <button id="allmyposts" class="btn btn-outline-secondary" style="background-color: rgb(25,25,25);font-size: 30px;width: 100%;height: 200px; border-radius: 20px;">All Posts</button>
            </a>
        </div>
        {% else %}
            <h5>None yet!</h5>
        {% endif %}
    </div>
    <br>
    {% else %}
        <h2 style="text-align: center;">Login or make an account first!</h2>
    {% endif %}
    
{% endblock %}

{% block script %}
<script>
    let pheight = document.getElementById('firstpost').offsetHeight;
    console.log(pheight);
    document.getElementById('allmyposts').style.height = `${pheight}`+'px';
    function like(id){
        if ((document.getElementById(`${id}`).style.backgroundColor == "cyan") && (document.getElementById(`dis${id}`).style.backgroundColor == "cyan")){
            fetch(`/like/${id}`)
            .then(response => response.json)
            .then(result => {
                document.getElementById(`${id}`).style.backgroundColor="blue"
                document.getElementById(`likecount${id}`).innerHTML++
            })
        }
        else if (document.getElementById(`${id}`).style.backgroundColor == "blue"){
            fetch(`/like/${id}`)
            .then(response => response.json)
            .then(result => {
                document.getElementById(`${id}`).style.backgroundColor="cyan"
                document.getElementById(`likecount${id}`).innerHTML--
            })
        }
        else{
            fetch(`/like/${id}`)
            .then(response => response.json)
            .then(result => {
                document.getElementById(`${id}`).style.backgroundColor="blue"
                document.getElementById(`dis${id}`).style.backgroundColor = "cyan"
                document.getElementById(`likecount${id}`).innerHTML++
            })
        }
    }
    function dislike(id){
        if ((document.getElementById(`${id}`).style.backgroundColor == "cyan") && (document.getElementById(`dis${id}`).style.backgroundColor == "cyan")){
            fetch(`/dislike/${id}`)
            .then(response => response.json)
            .then(result => {
                document.getElementById(`dis${id}`).style.backgroundColor="blue"
            })
        }
        else if (document.getElementById(`dis${id}`).style.backgroundColor == "blue"){
            fetch(`/dislike/${id}`)
            .then(response => response.json)
            .then(result => {
                document.getElementById(`dis${id}`).style.backgroundColor="cyan"
            })
        }
        else{
            fetch(`/dislike/${id}`)
            .then(response => response.json)
            .then(result => {
                document.getElementById(`${id}`).style.backgroundColor="cyan"
                document.getElementById(`dis${id}`).style.backgroundColor = "blue"
                document.getElementById(`likecount${id}`).innerHTML--
            })
        }
    }

    function chatwith(person){
        let roomName =  person + '_chatroomfor_' + document.querySelector('#me').innerHTML;
        if (person > document.querySelector('#me').innerHTML){
            roomName = person + '_chatroomfor_' + document.querySelector('#me').innerHTML;
        }
        else{
            roomName = document.querySelector('#me').innerHTML + '_chatroomfor_' + person;
        }
        if (! person == ''){
            window.location.pathname = '/chat/' + roomName + '/';
        }
    }
</script>
{% endblock %}